[catalog]
num_tables = 10

[transaction]
runtime.min = 5000
runtime.mean = 10000
runtime.sigma = 1.5
inter_arrival = 5000.0
# tables per transaction
ntable.zipf = 2.0
# which tables are selected; (0 most likely, so on)
seltbl.zipf = 1.4
# number of tables written (subset read)
seltblw.zipf = 1.2

[storage]
T_CAS = 100
T_METADATA_ROOT = 100
T_MANIFEST_LIST = 100
T_MANIFEST_FILE = 100